---
title: Security and Privacy Wizard
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web@master/oui-css/oui.css">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/gh/SamsungInternet/OneUI-Web@master/oui-css/scripts/polyfill/focus-visible.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/SamsungInternet/OneUI-Web@master/oui-css/scripts/oui.js" defer></script>    
    <script src="script.js"></script>
  </head>  
  <body class="container">
    <header class="oui-viewing"><h1>{{ page.title }}</h1></header>
    <main class="oui-interaction oui-bubble">
      {% assign pages = site.pages | where_exp:"page", "page.path contains 'pages/'" %}
      {% for page in pages %}
      <article id="{{ page.title | slugify}}">
        <h2>{{page.title}}</h2>
        {{ page.content | markdownify }}
        {% assign prevIndex = forloop.index0 | minus:'1' %}
        {% assign previous = pages[prevIndex] %}
        {% assign next = pages[forloop.index] %}
        {% if previous and prevIndex >= 0 %}<a href="#{{ previous.title | slugify }}">Previous Page: {{previous.title}}</a>{% endif %}
        {% if next %}<a href="#{{ next.title | slugify }}">Next Page: {{next.title}}</a>{% endif %}
    {% assign next = next %}
      </article>
      {% endfor %}
    </main>
    <nav style="position: absolute; right: 1em; bottom: 1em;"><details class="oui-menu">
      <summary tabindex="0" class="oui-button oui-menu-trigger">Pages</summary>
      <ul class="oui-bubble oui-frosted oui-menu-direction-up oui-menu-direction-left">
        {% for page in pages %}
        <li class="oui-overlay-bubble-item">
          <a href="#{{ page.title | slugify}}">{{ page.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </details></nav>
  </body>
</html>
