---
title: Security and Privacy Wizard
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/samsunginternet/OneUI-Web/oui-css/oui.css">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/gh/SamsungInternet/OneUI-Web@master/oui-css/scripts/polyfill/focus-visible.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/SamsungInternet/OneUI-Web@master/oui-css/scripts/oui.js" defer></script>    
    <script src="script.js"></script>
  </head>  
  <body class="container">
    <header class="oui-viewing"><h1>{{ page.title }}</h1></header>
    <main class="oui-interaction oui-bubble">
      {% for page in site.pages %}
      {% assign folder = page.path | split: "/" %}
      {% if folder[0] == "pages" %}
      <article id="{{ page.title | slugify}}">
        {{ page.content | markdownify }}
      </article>
      {% endif %}{% endfor %}
    </main>
    <details style="position: absolute; right: 1em; bottom: 1em;" class="oui-menu">
      <summary tabindex="0" class="oui-button oui-menu-trigger">Pages</summary>
      <nav><ul class="oui-bubble oui-frosted">
        {% for page in site.pages %}
        {% assign folder = page.path | split: "/" %}
        {% if folder[0] == "pages" %}
        <li class="oui-overlay-bubble-item"><a href="#{{ page.title | slugify}}">{{ page.title }}</a></li>
        {% endif %}{% endfor %}
      </ul></nav>
    </details>
  </body>
</html>
