html,body {
  width: 100%;
  height: 100%;
  margin: 0;
}

main.oui-interaction {
  /* Each child element is as wide as main in a single row */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  grid-template-rows: 1fr;

  /* This element will overflow scroll and scroll-snap */
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  margin-bottom: 0;
  padding: 0;
}

article {
  padding: 10px 20px;
}

/* On small screens use proximity instead for a slightly different experience */
/* @media only screen and (max-width: 480px) {
  main {
    scroll-snap-type: x proximity;
  }
} */

main > article {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/**
article layout
**/

body {
  font-family: 'Sen', sans-serif;
  display: grid;
  grid-template-rows: min-content 1fr;
}

header.oui-viewing {
  padding: 0.2em 2em;
  background: var(--color1);
  min-height: auto;
}

h1, h2, h3, h4 {     
  font-family: 'Bellota Text', cursive;
}

article {
  height: 100%;
  overflow-y: auto;
}
